<div class="card" *ngFor="let event of events">
  <header class="card-header">
    <p class="card-header-title">
      <span class="is-size-2">{{event.title}}</span>  <span class="margin-left">({{event.start | date}} to {{event.end | date}})</span>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <p-button label="add event" icon="fa fa-plus" iconPos="left" (onClick)="onAddSubEvent(event)"></p-button>
      <p-dialog header="create new event" *ngIf="display" [(visible)]="event.id == display"  [(modal)]="modal">
        <app-sub-event-start [(id)]="event.id"></app-sub-event-start>
      </p-dialog>
      <div class="subEventContainer" *ngFor="let sevent of subEvents">
        <ng-container *ngIf="event.id === sevent.id">
        <span class="is-size-4">{{sevent.name}} Dates: {{sevent.start | date:'short'}} to {{sevent.end | date:'short'}} Type: {{sevent.type.name}} {{sevent.price | currency:'USD'}}</span>
        </ng-container>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <div class="padding" *ngIf="event.id">
      <app-price [(id)]="event.id"></app-price>
    </div>
  </footer>
</div>
