<p-header>
</p-header>
<form *ngIf="eventForm"  [formGroup]="eventForm" (ngSubmit)="onSubmit()">
<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-4">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="fa fa-arrow-circle-right"></i></span>
      <input type="text"
             pInputText
             placeholder="travel title"
             id="title"
             formControlName="title">
    </div>
  </div>
</div>
<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-4 date-field">
    <div class="">
      <p-calendar dateFormat="yy.mm.dd"
                  appendTo="body"
                  placeholder="start-yyyy.mm.dd"
                  id="start"
                  formControlName="start"></p-calendar>
    </div>
  </div>
</div>
<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-4 date-field">
    <div class="">
      <p-calendar dateFormat="yy.mm.dd"
                  appendTo="body"
                  placeholder="end-yyyy.mm.dd"
                  id="end"
                  formControlName="end"></p-calendar>
    </div>
  </div>
</div>
<p-footer>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4 date-field">
      <div class="">
        <p-button label="Save" type="submit" [disabled]="!eventForm.valid"></p-button>
      </div>
    </div>
  </div>
</p-footer>
</form>
